body {
    background-color: #008e9d;
    color: white;
}

.content-wrapper {
    padding: 3%;
}

li a {
    color: white;
}
li {
    padding: 10px;
}

table, th, td, tr {
    border: 1px solid antiquewhite;
    border-collapse: collapse;
    padding: 10px;
}
