body {
    background-color: #008e9d;
    color: white;
    border: 1px dotted white;
}

.content-wrapper {
    padding: 3%;
}

h1 {
    margin: 0 auto;
    text-align: center;
    width: 20rem;
    background-color: paleturquoise;
    border-radius: 3rem;
}

.red {
    color: #db4041;
}

h1 #blue {
    color: #4b9acc;
}

li a {
    color: white;
}
li {
    padding: 10px;
}

table {
    margin: 0 auto;
}

table, th, td, tr {
    border: 1px solid antiquewhite;
    border-collapse: collapse;
    padding: 10px;
}
