{% extends "layout.html" %}

{% block content %}
    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>School name</th>
            <th>School country</th>
        </tr>
        {% for data in mentors_and_schools %}
            <tr>
                <td>{{ data['first_name'] }}</td>
                <td>{{ data['last_name'] }}</td>
                <td>{{ data['name'] }}</td>
                <td>{{ data['country'] }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include 'footer.html' %}
{% endblock %}
